@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: "Anuphan", sans-serif;
  font-weight: 300;
  background-color: #10141f;
  color: #eee;
}

.背景 {
  position: absolute; /* 讓背景定位在容器內 */
  width: 100vw;
  height: 100%;
  background-image: url("/res/HOME.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* 確保背景在最底層 */
}

.選項卡 {
  left: 20px;
}

.box {
  position: absolute; /* 加入定位屬性 */
  top: 100vh; /* 從上方算起的距離，可依實際畫面微調 */
  left: 65%; /* 從左邊算起的距離，偏右側 */
  transform: translateX(-50%); /* 讓 box 水平置中於該位置 */
  width: 10px;
  height: 10px;
  background-color: #a2d5f2;
  border-radius: 20px;
  padding: 20px;
  color: #333;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
