@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;600&display=swap");

html,
body {
  margin: 0;
  height: 900px;
}
body {
  font-family: "Anuphan", sans-serif;
  font-weight: 300;
  background-color: #10141f;
  color: #eee;
}

.導航欄 {
  display: flex;
  align-items: center;
  background-color: #10141f;
  padding: 10px;
}

.導航欄工具欄 {
  display: flex;
  margin-left: auto; /* 把 QR 圖示推到最右邊 */
  height: 30px;
  gap: 15px; /* 調整圖示之間的間距 */
  padding-right: 10px; /* 調整右側邊距 */
}

.導航欄圖標 {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
}
.版本切換 {
  display: flex;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  text-align: middle;
  overflow: hidden;
  background-color: #363a45;
  cursor: pointer;
  user-select: none;
}

.選項卡 {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  color: #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.選項卡.選中 {
  background-color: #b49777;
  border-radius: 50px;
  color: #000;
}
