@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;600&display=swap");

* {
  font-family: "IBM Plex Sans", "Noto Sans Traditional Chinese", "PingFang TC", "Helvetica Neue", Arial, "sans-serif", 微軟正黑體;
  font-size: 12px;
  color: white;
}
body {
  background-color: #10141f;
  color: #eee;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.背景 {
  position: flex; /* 讓背景定位在容器內 */
  width: 100%;
  height: 100%;
  background-image: url("/res/HOME.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  position: absolute; /* 加入定位屬性 */
  background-color: rgba(0, 0, 0, 01);
  border-radius: 10px;
  left: 320px;
  top: 20px;
  width: 25px;
  height: 25px;
}

#tab_Version {
  top: 1.8vh; /* 從上方算起的距離，可依實際畫面微調 */
  left: 16vw; /* 從左邊算起的距離，偏右側 */
  width: 65pt;
}
#toolbar1 {
  left: 64.6vw;
  top: 1.8vh;
}
#toolbar2 {
  top: 1.8vh;
  left: 73vw;
}
#toolbar3 {
  left: 81vw;
  top: 1.8vh;
}
#toolbar4 {
  left: 89.5vw;
  top: 1.8vh;
}
#inbuy1 {
  left: 50px;
  top: 200px;
  width: 80px;
}
#amount {
  position: absolute;
  display: flex;
  align-items: center;
  left: 6vw;
  top: 12.5vh;
  font-size: 25pt;
  font-weight: bold;
}
#amount .arrow {
  padding-top: 5pt;
  width: 30px;
  height: 30px;
  color: #b19879;
  align-items: center;
}
#amount .arrow path {
  fill: #b19879;
}
#Buy {
  position: absolute;
  left: 7vw;
  top: 53vh;
  width: 150px;
  height: 80px;
}
#NTBuy {
  position: absolute;
  left: 53vw;
  top: 53vh;
  width: 150px;
  height: 80px;
}
#QRcode {
  display: none;
}

#Adspage {
  position: absolute;
  left:5.5vw;
  top: 30vh;
  width: 89.5vw;
  height: 120pt;
  border-radius: 15px;
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  overflow: hidden;
}
#USDTpage {
  position: absolute; /* 或 relative，視你的布局需求 */
  left: 54vw;
  top: 83vh;
  width: 170px;
  height: 50px;
  padding: 0;
  display: flex; /* ✅ 讓子元素橫向排列 */
  align-items: center; /* 垂直置中 */
  gap: 15px; /* 子元素之間的間距 */
}

#USDTamount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}

#USDTZH {
  width: 80px;
  height: 35px;
  border-radius: 6px;
  background-color: #41b498;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
